torch==2.10.0
transformers==5.19.0
accelerate==1.15.0

numpy==2.2.6
scipy==1.15.3

sounddevice==0.5.6
soundfile==0.14.0

openwakeword==0.6.0
onnxruntime==1.23.2
webrtcvad-wheels==2.0.14.post1

piper-tts==1.8.0

tavily-python
python-dotenv